body {
  font-family: "Playfair Display", serif;
  margin: 0%;
}
span {
  color: pink;
}
#hello {
  font-size: 50px;
}
.first-and-second-div {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding: 2%;
}

.first-section {
  border: 1px solod red;
  background-image: url(header-bg.png);
  background-repeat: no-repeat;
}
section {
  height: 500px;
}
#intro {
  box-shadow: 10px 10px 20px gray;
  border-radius: 15px;
  padding: 5%;
}
.social-media {
  text-decoration: none;
  background-color: aliceblue;
  padding: 1%;
  border-radius: 20%;
}

#father-intro {
  text-align: 100%;
}

.second-section {
  background-image: url(image 18.png);
  background-repeat: no-repeat;
  height: 500px;
}
